.inner { padding: 80px 20px; }

div#container {
    margin-top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0,0,0,0,05);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#container section {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 960px;
    margin: 30px 0 150px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    backdrop-filter: blur(5px);
    text-align: center;
    box-shadow: 0 2px 5px 0 #454545;
}

div#container section article {
    width: 45%;
    background-color: rgb(36, 166, 79);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#container section article h1 {
    font-size: 60px;
    font-weight: 700;
    color: black;
}

div#container section article p {
    font-size: 20px;
    color: black;
    margin-top: 10px;
}

div#container section article a.btn {
    display: inline-block;
    padding: 8px 30px;
    border: black solid 2px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
    font-weight: 600;
    color: black;
    transition: 0.2s all ease;
}

div#container section article a.btn:hover {
    background-color: black;
    color: white;
}

div#container section aside {
    width: 55%;
}

div#container section aside h2 {
    font-size: 40px;
    color: #282828;
    font-weight: 700;
}

div#container section aside p {
    font-size: 20px;
    color: #282828;
}

nav#socialLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

nav#socialLogin a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 100%;
    background-size: 60%;
    box-shadow: 0 2px 5px 0 #454545;
}

nav#socialLogin a.google { 
    background-image: url('google.svg');
    background-repeat: no-repeat; 
    background-position: center;
}
nav#socialLogin a.github { 
    background-image: url('github.svg');
    background-repeat: no-repeat; 
    background-position: center;
}
nav#socialLogin a.linkedin { 
    background-image: url('linkedin.svg');
    background-repeat: no-repeat; 
    background-position: center;
}

form {
    margin: 30px auto 0 auto;
    width: 90%;
    max-width: 350px;
}

form input[type=text],
form input[type=email],
form input[type=password] {
    width: calc(100% - 45px);
    border: 1px solid black;
    padding: 10px 15px 8px 30px;
    margin: 8px 0;
    font-size: 18px;
    border-radius: 20px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 18px;
}

form input[type=text]{
    background-image: url('person.svg');
}
form input[type=email]{
    background-image: url('email.svg');
}
form input[type=password]{
    background-image: url('password.svg');
}

.auth-form button[type=submit] {
    margin-top: 20px;
    border: none;
    background-color: #28a745;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 25px;
    transition: 0.2s all ease;
    box-shadow: 0 2px 5px 0 #454545;
}

.auth-form button[type=submit]:hover {
    background-color: black;
    color: white;
}

@media(max-width: 760px) {
    div#container section {
        flex-flow: column
    }

    div#container section article,
    div#container section aside {
        width: 100%;
    }
}

.nav-link {
    font-size: 1.1rem;
}

.categoria-links:hover {
    text-decoration: none;
    color: white;
}

.categoria-links {
    color: black;
}

.list-group-item:hover {
    background-color: #28a745;
    transition: 0.38s;
}

.intro {
    display: flex;
    align-items: center;
}

.green {
    background-color: #28a745;
}
