<div id="container">
        <section>
            <article>
                <div class="inner">
                    <h1>Bem vindo!</h1>
                    <p>Para continuar conectado conosco faça login com suas credenciais.
                    </p>

                    <p>Não tem uma conta?
                    </p>
                    <a href="/usuarios/registro" class="btn">Registre-se</a>
                </div>
            </article>
            <aside>
                <div class="inner">
                    <h2>Login</h2>
                    <form action="/usuarios/login" method="post" class="auth-form">
                        <input type="email" name="email" placeholder="E-mail" value="admin@gmail.com" required>
                        <input type="password" name="senha" placeholder="Password" value="tempra" required>
                        <p>(Conta com privilégios de admnistrador)</p>
                        <button type="submit">Entrar</button>
                    </form>
                </div>
            </aside>
        </section>
    </div>