{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div id="container">
        <section>
            <article>
                <div class="inner">
                    <h1>Bem vindo!</h1>
                    <p>Para aproveitar o máximo do site, cria sua conta.
                    </p>

                     <p>Já tem uma conta?
                    </p>
                    <a href="/usuarios/login" class="btn">Login</a>
                </div>
            </article>
            <aside>
                <div class="inner">
                    <h2>Crie sua conta</h2>
                    <p>Use seu e-mail e crie uma senha para você.</p>
                    <form action="" method="post" class="auth-form">
                        <input type="text" name="nome" placeholder="Nome">
                        <input type="email" name="email" placeholder="E-mail">
                        <input type="password" name="senha" placeholder="Senha">
                         <input type="password" name="senha2" placeholder="Confirme sua senha">
                        <button type="submit" class="btn">Registrar</button>
                    </form>
                </div>
            </aside>
        </section>
    </div>