<div class="intro">
  <img src="/img/nodejsgreen.png" width="60px" height="60px">
  <h2>Lista de categorias</h2> 
</div> 

<hr class="green">

<br> <br>

{{#each categorias}}
<a class="categoria-links" href="/categorias/{{slug}}"><li class="list-group-item">{{nome}}</li></a> <br>
{{else}}

{{/each}}